[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld_safe]
connect_timeout = 15
interactive_timeout=60
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci

datadir = /var/lib/mysql
socket  = /var/lib/mysql/mysql.sock
skip-external-locking
skip-name-resolve=1
user     = mysql
port     = 3306
tmpdir   = /tmp
max_connections=1000
transaction-isolation = READ-COMMITTED